@gd: 1.5;

@mainBGColor: #262626;
@textColor: #676767;
@darkTextColor: #262626;

@maxContentWidth: 1170px;

@blockExternalSpace: 30px;
@blockInternalSpace: 10px;

@imagesDir: 'images/';
@fontsDir: 'css/fonts/';


@fontFamily: 'HelveticaNeueLTStd-Lt',arial,helvetica,sans-serif;
@titleFontFamily: 'Helvetica Neue';
@japaneseFontFamily: 'Noto Sans Japanese',sans-serif;
@japaneseTitleFontFamily: @japaneseFontFamily;

//'m_1pregular',sans-

@widgetMaxWidth: 370px;
