/*!
Theme Name: Epice
Theme URI: 
Description: Theme Epice
Author: 5emegauche
Author URI: http://www.5emegauche.com/
Version: 1.0
*/

@import 'config.less';
@import 'utils.less';
@import 'reset.less';

@import 'fonts.less';

body
{
  background-color: @mainBGColor;
  color: @textColor;
  font: 1em/@gd @fontFamily;
  letter-spacing: 0.05em;

  &.ja
  {
    font-family: @japaneseFontFamily;
    font-size: 1em;
  }
}

a
{
  color: inherit;
}

h1,h2,h3,h4,
.epice-block-title,
.history-date
{
  font-family: @titleFontFamily;
}

&.ja
{
  h1,h2,h3,h4,
  .epice-block-title,
  .history-date
  {
    font-family: @japaneseTitleFontFamily;
  }

  h1,h2,h3,h4
  {
    font-weight: normal;
  }
}

.image-text
{
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
}

#contenu
{
  max-width: @maxContentWidth;
  margin: 0 auto;

  position: relative;
}

#main
{
  margin: 0 0 2em;
  position: relative;

  h1
  {
    color: @darkTextColor;
    text-align: center;
    font-size: 5em;
    text-transform: uppercase;
    position: relative;

    margin: 0 0 0.5em;

    line-height: 1;

    padding-top: 0.5em;
    padding-bottom: 0.4em;

    &::after
    {
      border-bottom: 8px solid #cca173;
      position: absolute;
      left: 50%;
      bottom: 0;
      width: 70px;
      margin-left: -35px;

      content: '\A0';
    }
  }

  p + p
  {
    margin-top: 1em;
  }

  .widget
  {
    & > h1
    {
      margin: 0;
    }
  }
}

.social-nav
{
  text-align: center;

  h4
  {
    font-size: 0.9em;
    margin-bottom: 1em;
  }

  li
  {
    a
    {
      display: block;
      width: 41px;
      height: 18px;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: contain;
    }

    & + li
    {
      margin-left: 8px;
    }
  }

  .facebook
  {
    background-image: url('@{imagesDir}facebook.svg');
  }

  .twitter
  {
    background-image: url('@{imagesDir}twitter.svg');
  }

  .instagram
  {
    background-image: url('@{imagesDir}instagram.svg');
  }

  .pinterest
  {
    background-image: url('@{imagesDir}pinterest.svg');
  }
  
  .google-plus
  {
    background-image: url('@{imagesDir}google-plus.svg');
  }

  .youtube
  {
    background-image: url('@{imagesDir}youtube.svg');
  }
}

.lang-switcher
{
  right: 0;

  li + li
  {
    margin-left: 1em;
  }

  .current
  {
    color: #fff;
  }

  a
  {
    & + a
    {
      margin-left: 1em;
    }
  }
}


.input
{
  border: 1px solid #ccc;
}

#back-to-top
{
  position: absolute;
  z-index: 10;
  right: -40px;
  bottom: 0;
  width: 25px;
  height: 23px;
  background: url('@{imagesDir}back-to-top.svg') no-repeat 50% 0;
  background-size: contain;
}

.mobile-element
{
  display: none;
}
  
.mobile-viewport
{
  .desktop-element
  {
    display: none;
  }

  .mobile-element
  {
    display: block;
  }

  #primary-sidebar
  {
    display: none;
  }
}

@import 'parts/header.less';
@import 'parts/footer.less';

@import 'parts/newsletter.less';

@import 'parts/breadcrumb.less';

@import 'parts/list.less';

@import 'parts/widgets.less';
@import 'parts/related.less';

@import 'parts/history.less';

.single,.page
{
  .main-block
  {
    background-color: #fff;
    padding-bottom: 1em;
  }
}

@import 'isotope.less';
@import 'mobile.less';
@import 'mediaqueries.less';
