/*
@import url("//hello.myfonts.net/count/29c0fe");
*/

@font-face
{
  font-family: 'HelveticaNeueLTStd-Lt';
  src: url('@{fontsDir}29C0FE_0_0.eot');
  src: url('@{fontsDir}29C0FE_0_0.eot?#iefix') format('embedded-opentype'),
    url('@{fontsDir}29C0FE_0_0.woff') format('woff'),
    url('@{fontsDir}29C0FE_0_0.ttf') format('truetype');
}

@font-face
{
  font-family: 'HelveticaNeueLTStd-LtIt';
  src: url('@{fontsDir}29C0FE_3_0.eot');
  src: url('@{fontsDir}29C0FE_3_0.eot?#iefix') format('embedded-opentype'),
    url('@{fontsDir}29C0FE_3_0.woff') format('woff'),
    url('@{fontsDir}29C0FE_3_0.ttf') format('truetype');
}


@font-face
{
  font-family: 'Helvetica Neue';
  font-weight: 700;
  src: url('@{fontsDir}29C0FE_1_0.eot');
  src: url('@{fontsDir}29C0FE_1_0.eot?#iefix') format('embedded-opentype'),
    url('@{fontsDir}29C0FE_1_0.woff') format('woff'),
    url('@{fontsDir}29C0FE_1_0.ttf') format('truetype');
}
 
  
@font-face
{
  font-family: 'Helvetica Neue';
  font-weight: 700;
  font-style: italic;
  src: url('@{fontsDir}29C0FE_2_0.eot');
  src: url('@{fontsDir}29C0FE_2_0.eot?#iefix') format('embedded-opentype'),
    url('@{fontsDir}29C0FE_2_0.woff') format('woff'),
    url('@{fontsDir}29C0FE_2_0.ttf') format('truetype');
}
 
 
  
@font-face
{
  font-family: 'Helvetica Neue';
  src: url('@{fontsDir}29C0FE_4_0.eot');
  src: url('@{fontsDir}29C0FE_4_0.eot?#iefix') format('embedded-opentype'),
    url('@{fontsDir}29C0FE_4_0.woff') format('woff'),
    url('@{fontsDir}29C0FE_4_0.ttf') format('truetype');
}
 
  
@font-face
{
  font-family: 'Helvetica Neue';
  font-style: italic;
  src: url('@{fontsDir}29C0FE_5_0.eot');
  src: url('@{fontsDir}29C0FE_5_0.eot?#iefix') format('embedded-opentype'),
    url('@{fontsDir}29C0FE_5_0.woff') format('woff'),
    url('@{fontsDir}29C0FE_5_0.ttf') format('truetype');
}
/*
@font-face
{
  font-family: 'MS PGothic';
  src: url('@{fontsDir}msgothic.eot');
  src: url('@{fontsDir}msgothic.eot?#iefix') format('embedded-opentype'),
    url('@{fontsDir}msgothic.woff') format('woff'),
    url('@{fontsDir}msgothic.ttf') format('truetype');
}

@font-face
{
  font-family: 'Corporate Logo';
  font-weight: 400;
  src: url('@{fontsDir}logotypejp_mp_m_1-webfont.eot');
  src: url('@{fontsDir}logotypejp_mp_m_1-webfont.eot?#iefix') format('embedded-opentype'),
    url('@{fontsDir}logotypejp_mp_m_1-webfont.woff') format('woff'),
    url('@{fontsDir}logotypejp_mp_m_1-webfont.ttf') format('truetype');
}

@font-face
{
  font-family: 'Corporate Logo';
  font-weight: 700;
  src: url('@{fontsDir}logotypejp_mp_b_1-webfont.eot');
  src: url('@{fontsDir}logotypejp_mp_b_1-webfont.eot?#iefix') format('embedded-opentype'),
    url('@{fontsDir}logotypejp_mp_b_1-webfont.woff') format('woff'),
    url('@{fontsDir}logotypejp_mp_b_1-webfont.ttf') format('truetype');
}
*/

@font-face {
    font-family: 'm_1pregular';
    src: url('@{fontsDir}mplus-1p-regular-webfont.eot');
    src: url('@{fontsDir}mplus-1p-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('@{fontsDir}mplus-1p-regular-webfont.woff') format('woff'),
         url('@{fontsDir}mplus-1p-regular-webfont.ttf') format('truetype'),
         url('@{fontsDir}mplus-1p-regular-webfont.svg#m_1pregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
