@media screen and (max-width: 1246px)
{
  #related-posts
  {
    margin-left: 36px;
    margin-right: 36px;
  }

  #back-to-top
  {
    //display: none;
    right: 20px;
    bottom: -35px;
  }
}

@media screen and (max-width: 1200px)
{
  .post-list,#related-posts
  {
    max-width: 800px;
    margin: 0 auto;
  }

  .post-list,#related-posts
  {
    & > li
    {
      &:nth-child(2n)
      {
        margin-right: 0;
      }
    }
  }

  .page-header
  {
    #primary-sidebar
    {
      margin-right: 7%;
    }
  }
}

@media screen and (max-width: 1170px)
{
  .page-footer
  {
    padding-left: 1em;
    padding-right: 1em;
  }
}

@media screen and (max-width: 1050px)
{
  .top-nav
  {
    &.left-nav,&.right-nav
    {
      position: static;
      display: inline-block;
    }
  }

  .page-header
  {
    .filters-list
    {
      display: inline-block;
      margin: 0 1em;

      li
      {
        margin: 0 0.5em;
      }
    }
  }
}

@media screen and (max-width: 954px)
{
  .page-header
  {
    .filters-list
    {
      margin: 0 0.4em;
      
      li
      {
        margin: 0 0.4em;
      }
    }
  }
}

@media screen and (max-width: 940px)
{
  #related-posts
  {
    display: none;
  }
/*
  #related-posts-list .picture-block-item
  {
    margin-left: 0;
    margin-top: 1em;
  }
*/
  .small-row
  {
    width: 80%;
  }
}

@media screen and (max-width: 800px)
{
  #main h1
  {
    font-size: 1.8em;
    padding-bottom: 0.6em;

    &.entry-title
    {
      margin-bottom: 1em;
    }
  }

  .post-list,#related-posts
  {
    max-width: 370px;
    margin: 0 auto;
  }
  
  .history-list
  {
    & > li
    {
      & + li
      {
        margin-top: 2em;
        padding-top: 3em;
        position: relative;

        &::before
        {
          content: '\A0';
          border-top: 8px solid #E1E1E1;
          position: absolute;
          top: 0;
          left: 50%;
          width: 70px;
          margin-left: -35px;
        }
      }
    }

    .history-picture,.history-content
    {
      float: none !important;
      width: auto;
    }

    .history-picture
    {
      text-align: center !important;
    }

    .history-content
    {
      padding-top: 0;
    }
  }

  .panel-row-style
  {
    width: auto;

    &:not(.top-row)
    {
      .so-panel
      {
        margin: 0 1em 1em !important;
      }
    }
  }

  .related-item
  {
    margin-left: 0;

    & + .related-item
    {
      margin-top: 1em;
    }
  }

  .page-header
  {
    margin-bottom: 1em;

    .site-info
    {
      padding-bottom: 1em;
    }

    .home
    {
      width: 16% !important;
      padding-bottom: 5.85% !important;
    }

    .sub
    {
      font-size: 1.1em !important;
    }

    .top-nav
    {
      position: static;
      //margin: 0 0 1em 2em;
    }
  }

  .page-footer
  {
    .copyright,.lang-switcher
    {
      position: static;
      text-align: center;
    }

    .lang-switcher
    {
      margin-bottom: 3em;
    }

    .copyright
    {
      margin-bottom: 1em;
    }
  }

  .row-profil
  {
    &.row-start,&.row-end
    {
      margin: 0;
    }
  }

  .ssba
  {
    margin-bottom: 0.5em;
  }

  .so-widget-sow-image
  {
    text-align: center;
  }

  .small-row
  {
    .panel-grid-cell
    {
      width: 50% !important;
      float: left !important;
    }
  }

  .panel-grid-cell
  {
    &:first-child
    {
      .text-column
      {
        margin-right: 0;
      }
    }

    &:last-child
    {
      .text-column
      {
        margin-left: 0;
      }
    }
  }

  .epice-block
  {
    figure
    {
      img
      {
        display: inline-block;
      }
    }
  }

  .small-row
  {
    .panel-grid-cell
    {
      float: none !important;
      width: auto !important;
    }
  }

  .store-row
  {
    .panel-grid-cell
    {
      margin-bottom: 2em !important;
    }
  }
}

@media screen and (max-width: 700px)
{
  .newsletter-page
  {
    .wysija-paragraph
    {
      width: 90%;
    }

    .back
    {
      margin-left: 0;
    }
  }
}

@media screen and (max-width: 500px)
{
  .newsletter-page
  {
    .wysija-paragraph
    {
      width: 80%;
    }

    .allmsgs
    {
      margin-left: 0;
      margin-right: 0;

      padding-right: 1em;
      padding-left: 1em;
    }
  }
}

@media screen and (max-height: 600px)
{
  #mobile-menu
  {
    #mobile-nav
    {
      li
      {
        line-height: 2;
      }
    }
  }
}

@media screen and (max-width: 400px)
{
  .mobile-menu-button
  {
    top: 30%;
  }

  .post-list
  {
    width: auto;
  }

  .widget_sow-slider
  {
    .sow-slider-legend
    {
      bottom: 20%;
      padding: 0.5em 1em;
    }
  }
}

@media screen and (max-width: 370px)
{
  li.picture-block-item
  {
    width: auto;
    min-height: 0;
    margin-right: 0;
    position: relative;
  }
}

@media screen and (max-width: 800px) and (orientation: landscape)
{
  .page-header
  {
    padding-top: 0.6em;
    margin-bottom: 0;

    .site-info
    {
      padding-bottom: 0;
    }
  }

  #mobile-menu
  {
    .menu-part
    {
      padding-bottom: 0.2em;
    }
  }
}
