#mobile-menu
{
  padding-bottom: 2em;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 11;
  
  background-color: @mainBGColor;
  visibility: hidden;
  
  border-bottom: 1px solid #676767;
  color: #909090;

  //opacity: 0.7;

  a
  {
    text-decoration: none;
  }

  .social-nav,.lang-switcher
  {
    text-align: center;
    
    li
    {
      display: inline-block;
      vertical-align: top;
    }
  }

  .menu-part
  {
    border-top: 1px solid @darkTextColor;
    padding: 0 0 1em;
  }

  #insert-zone
  {
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
  }

  .newsletter-block
  {
    margin-top: 0.4em;
    padding-bottom: 1.5em;

    border-top: 1px solid #676767;
    text-transform: uppercase;
    padding-top: 1em;
  }

  #mobile-nav
  {
    position: absolute;
    overflow: auto;
    left: 0;
    right: 0;

    li
    {
      text-align: center;
      text-transform: uppercase;
      font-size: 1.1em;
      line-height: 3;
    }
  }

  footer
  {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;

    padding-top: 0.2em;
  }
}

.no-scroll
{
  .mobile-viewport
  {
    overflow: hidden;
    
    #contenu
    {
      display: none;
    }
  }
}

.mobile-viewport
{
  #mobile-menu
  {
    &.ui-state-active
    {
      //display: block;
      visibility: visible;
    }

    #mobile-nav
    {
      .wysija-msg
      {
        &.ajax
        {
          li
          {
            line-height: 1.4;
          }

          br + br
          {
            font-size: 0.5em;
          }
        }
      }
    }
  }

  #contenu
  {
    .page-header
    {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 10;
    }
  }

  .top-nav,.filters-list
  {
    display: none !important;
  }
}

.mobile-menu-button
{
  position: absolute;
  top: 50%;
  left: 5%;
  width: 5%;
  padding-bottom: 5%;
  margin-top: -2.5%;
  background: url('@{imagesDir}menu.png') no-repeat 50% 50%;
  
  cursor: pointer;

  &.ui-state-active
  {
    background-image: url('@{imagesDir}close.png');
  }
}
