.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

main,section,article,figure,header,footer
{
  display: block;
}

body,p,section,ul,li,ol,h1,h2,h3,h4,h5,h6,article,div,header,footer,main,figure
{
  margin: 0;
  padding: 0;
}

li
{
  list-style-type: none;
}

img,fieldset,iframe
{
  border: none;
}

body
{
  font-family: verdana,sans-serif;
  font-size: .75em;
  line-height: @gd;
  color: @textColor;
}
