.box-shadow(@dH,@dV,@rd,@col)
{
  -moz-box-shadow: @dH @dV @rd @col;
  -webkit-box-shadow: @dH @dV @rd @col;
  box-shadow: @dH @dV @rd @col;
}

.box-sizing(@bS)
{
  -moz-box-sizing: @bS;
  -webkit-box-sizing: @bS;
  box-sizing: @bS;
}
