
#breadcrumbs
{
  padding: 0.9em 4em;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75em;

  span + span
  {
    margin-left: 1em;
  }

  .breadcrumb_last
  {
    color: #000;
  }
  
  a
  {
    text-decoration: none;

    padding-right: 2em;
    position: relative;
    line-height: 1;

    &::after
    {
      content: '\A0';
      background: url('@{imagesDir}fda-separator.png') no-repeat;
      position: absolute;
      right: 0;
      top: 50%;
      width: 6px;
      height: 9px;
      margin-top: -4px;
    }
  }
}
