.page-footer
{
  clear: both;
  position: relative;
  padding: 0 0 1em;

  text-transform: uppercase;

  font-weight: bold;
  font-size: 0.75em;

  margin-top: 4em;

  a
  {
    text-decoration: none;
  }

  li
  {
    display: inline-block;
  }

  .bottom-footer
  {
    position: relative;
  }

  .copyright,.lang-switcher
  {
    position: absolute;
    bottom: 0;
  }

  .bottom-nav
  {
    text-align: center;

    li + li
    {
      margin-left: 2em;
    }
  }

  .social-nav
  {
    margin-bottom: 3em;
  }
}
