.page-header
{
  margin-bottom: 3em;
  padding-top: 2em;
  position: relative;
  z-index: 11;

  background-color: @mainBGColor;
  
  .site-info
  {
    color: #fff;
    text-align: center;
    padding-bottom: 3em;
    clear: both;
  }
  
  .home
  {
    display: block;
    //padding-bottom: 3.66%;
    //width: 10%;
    background: url('@{imagesDir}logo.svg') no-repeat 50% 0;
    background-size: contain;
    margin: 0 auto;
  }

  .sub
  {
    //font-size: 1.1em;
    //margin: 0.6em 0 0;
  }

  .home
  {
    width: 14%;
    padding-bottom: 5.12%;
  }

  .sub
  {
    font-size: 1.4em;
    margin: 0.6em 0 0;
  }

  a
  {
    text-decoration: none;
  }

  .filters-list,.top-nav,.newsletter
  {
    text-transform: uppercase;
    font-weight: bold;
  }

  .filters-list
  {
    text-align: center;
    
    li
    {
      display: inline-block;
      margin: 0 1em;
    }
  }

  .top-nav
  {
    position: absolute;

    &.left-nav
    {
      left: 0;
    }

    &.right-nav
    {
      right: 0;
      top: 0;
    }
  }

  .current-menu-item
  {
    color: #fff;
  }

  #primary-sidebar
  {
    float: right;
    width: 252px;

    .widget-title
    {
      text-align: right;
    }
  }

  .header-bottom
  {
    position: relative;
    text-align: center;
  }
}
