.history-list
{
  & > li
  {
    overflow: hidden;
    margin: 0 4em;

    & + li
    {
      margin-top: -2em;
    }
  }

  .history-picture
  {
    float: left;
    width: 48.8%;
    text-align: right;

    img
    {
      max-width: 100%;
    }
  }

  .history-content
  {
    float: right;
    width: 48.8%;

    padding-top: 5em;

    .history-date
    {
      color: #e6e6e6;
      font-size: 5em;
      font-weight: bold;
      letter-spacing: 0.1em;
    }

    .history-title
    {
      color: @darkTextColor;
      text-transform: uppercase;
      margin: 0 0 1em;
      font-size: 1.25em;
    }
  }

  .odd
  {
    .history-picture
    {
      float: right;
      text-align: left;
    }

    .history-content
    {
      float: left;
    }
  }
}
