.post-list
{
  //margin-right: -30px;
  width: 1200px;
  margin: 0 auto;
  min-height: 550px;
  
  .block-content
  {
    background-color: @mainBGColor;
  }

  .picture-block-item
  {
    &.hidden-block
    {
      .block-content
      {
        display: none;
      }
    }
  }

  .picture-effect
  {
    display: none;
  }
}

li.picture-block-item
{
  max-width: 370px;
  margin-right: 30px;
  width: 370px;
  
  min-height: 370px;
  //position: relative;

  margin-bottom: @blockExternalSpace;

  &:nth-child(3n)
  {
    margin-right: 0;
  }

  img
  {
    max-width: 100%;
    height: auto;
    position: relative;
    z-index: 0;
    display: block;
  }

  a
  {
    text-decoration: none;
  }

  .block-content
  {
    position: absolute;
    z-index: 2;
    top: @blockInternalSpace;
    left: @blockInternalSpace;
    right: @blockInternalSpace;
    bottom: @blockInternalSpace;
    
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;

    h3
    {
      color: #fff;
      font-size: 1.4em;
      margin-top: 0.5em;
    }

    .post-categories
    {
      font-size: 0.9em;
    }

    .block-detail
    {
      padding-left: 10%;
      padding-right: 10%;

      padding-top: 30%;
    }
  }
  
  .picture-effect
  {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  }
}

.cover-block
{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
}
