.newsletter-page
{
  padding: 0 2em 8em;
  margin-top: 3em;

  .back
  {
    margin: 0 0 2em 2em;
    
    a
    {
      text-decoration: none;
    }
  }

  .widget_wysija
  {
    text-align: center;
    position: relative;
  }

  .wysija-input
  {
    border: 1px solid #E1E1E1;
    padding: 0px 2em;
    height: 2.5em;
    width: 100%;
  }

  .wysija-submit
  {
    background-color: #676767;
    color: #FFF;
    font-weight: bold;
    border: none;
    height: 2.5em;
  }

  .wysija-paragraph
  {
    width: 50%;
    position: relative;
  }

  .wysija-paragraph,.wysija-submit
  {
    display: inline-block;
  }

  .wysija-input,.wysija-submit
  {
    .box-sizing(border-box);
  }

  .allmsgs
  {
    margin: 2em 8em;

    padding: 2em;

    border-top: 1px solid #E1E1E1;
    border-bottom: 1px solid #E1E1E1;
  }
}

.formError
{
  .formErrorContent
  {
    background-color: #fff;
    color: #ff2f2f;
    border: none;
  }
}

.widget_wysija_cont .updated,
.widget_wysija_cont .login .message
{
  background-color: #fff;
  border: none;
  padding: 0.2em 1em;
}

/* Newsletter desktop et mobile !!! */
.newsletter-block
{
  min-height: 3em;
  
  input
  {
    border: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 2.5em;
  }

  .widget-title
  {
    font-size: 0.75em;
    text-transform: uppercase;
    margin-bottom: 0.4em;
    cursor: pointer;
  }

  form
  {
    position: relative;
    z-index: 0;
  }

  @mailWidth: 85%;

  .wysija-paragraph,.wysija-submit
  {
    position: absolute;
    top: 0;
  }

  .wysija-paragraph
  {
    left: 0;
    width: @mailWidth;

    input
    {
      width: 100%;
      padding: 0 0.5em;
    }
  }

  .wysija-submit
  {
    right: 0;
    width: 100% - @mailWidth;
    margin: 0;
    background-color: @textColor;
    color: #fff;
    font-weight: bold;
  }

  .widget_wysija_cont
  {
    position: relative;
    
    &.hidden-block
    {
      display: none;
    }
  }

  .wysija-msg
  {
    &.ajax
    {
      cursor: pointer;
      
      position: absolute;
      left: 0;
      right: 0;
      z-index: 1;
    
      &.hidden-block
      {
        display: none;
      }
    }
  }

  .formError
  {
    .formErrorArrow
    {
      div
      {
        background-color: #fff;
        border: none;
      }

      .line1,.line2
      {
        display: none;
      }
    }
  }
}
