#related-posts
{
  position: relative;

  & > h3
  {
    text-align: center;
    text-transform: uppercase;
    color: #333;
    font-size: 4em;
    margin: 0 0 0.5em;
  }

  &[data-jcarousel]
  {
    .related-posts-button
    {
      display: block;
    }
  }
}

.related-posts-viewport
{
  position: relative;
  overflow: hidden;
  z-index: 0;

  #related-posts-list
  {
    overflow: visible;
  }
}

#related-posts-list,.related-posts-list-block
{
  position: relative;
}

#related-posts-list
{
  overflow: hidden;

  .picture-block-item
  {
    float: left;
    position: relative;
    
    overflow: hidden;
    margin: 0 0 0 @blockExternalSpace;
    max-height: 370px;

    &:first-child
    {
      margin-left: 0;
    }

    &.hidden-block
    {
      img
      {
        opacity: 0.3;
      }
    }

    a
    {
      color: #fff;
    }

    .picture-effect
    {
      background-color: rgba(0,0,0,0.5);
    }
  }
}

.related-posts-button
{
  position: absolute;
  top: 50%;
  width: 13px;
  height: 22px;
  z-index: 1;
  cursor: pointer;

  margin-top: -15px;
  background-size: contain;
  background-repeat: no-repeat;

  display: none;
}

.related-posts-prev
{
  left: -36px;
  background-image: url('@{imagesDir}related-prev.svg');
}

.related-posts-next
{
  right: -36px;
  background-image: url('@{imagesDir}related-next.svg');
}
