.ow-button-base a
{
  text-transform: uppercase;
  color: #666;
}

.panel-grid
{
  margin: 0 auto 4em;
}

.panel-row-style
{
  width: 90%;
  margin: 0 auto;
  
  &.top-row
  {
    width: auto;
    
    & > .panel-grid-cell
    {
      padding: 0;
    }
  }

  &.space-row
  {
    margin-top: 4em;
  }
}

.center-row
{
  text-align: center;
}

.panel-grid-cell
{
  padding: 1em;
  
  .panel
  {
    margin: 0 4em;
    text-align: center;

    &.widget_sow-image
    {
      margin: 0;
    }

    & + .panel
    {
      margin-top: 1em;
    }
  }
  
  .widget-title
  {
    color: @darkTextColor;
    text-transform: uppercase;
    font-size: 1.3em;
    margin: 0 0 1em;
    line-height: 1.2;
  }

  .textwidget
  {
    line-height: 1.6;
  }

  .panel-grid-cell
  {
    float: none !important;
  }
  
  .widget_sow-button
  {
    margin: 1em 0;
  }
}

.store-row
{
  margin-bottom: 3.5em;
  
  .panel-grid-cell
  {
    position: relative;
    height: 560px;

    .widget_origin_button
    {
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      text-align: center;
    }
  }
}

.row-normal-dir
{
  .panel-grid-cell
  {
    .widget
    {
      text-align: left;
    }
  }
}

.textwidget
{
  h4
  {
    margin-bottom: 0.2em;
    color: @darkTextColor;
    font-size: 1.05em;
  }

  p + h4
  {
    margin-top: 1em;
  }
}

.small-row
{
  width: 60%;
  margin: 0 auto;
}

.row-profil
{
  width: auto;
  margin: 0;

  &.row-start
  {
    margin-left: 8%;
    margin-right: 5%;

    .panel-grid-cell
    {
      &:last-child
      {
        .so-panel
        {
          margin-left: 8%;
        }
      }
    }
  }

  &.row-end
  {
    margin-right: 8%;
    margin-left: 5%;

    .panel-grid-cell
    {
      &:first-child
      {
        .so-panel
        {
          margin-right: 8%;
        }
      }
    }
  }

  .panel-grid-cell:first-child
  {
    .panel
    {
      margin-left: 0;
    }
  }
  
  .widget-title
  {
    font-size: 3.75em;
    text-transform: uppercase;
    color: #e1e1e1;
    margin-bottom: 0.4em;
    line-height: 1;
  }

  h4
  {
    font-size: 1.3em;
    margin-bottom: 0.8em;
    text-transform: uppercase;
    color: @darkTextColor;
  }
}

.figcaption-text
{
  text-align: center;
  color: #c0c0c0;
}

.border-widget
{
  border: 12px solid #f7f7f7;//e6e6e6;//#CCA173;
  padding: 6em 2em;
}

.date-info
{
  color: #cca173;
  margin-top: 1em;
}

.widget
{
  & + .widget
  {
    margin-top: 2em;
  }
}

.top-row
{
  .widget
  {
    & + .widget
    {
      margin-top: 1.6em;
    }
  }
}

.picture-row
{
  .epice-block-text
  {
    color: #c0c0c0;
  }
}

.origin-widget-button
{
  margin-top: 3em;
  
  a
  {
    border: 3px solid #e1e1e1;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-family: @titleFontFamily;
    letter-spacing: 0.1em;
    color: @darkTextColor;
    padding: 0 1.2em;
    line-height: 2;

    &:hover
    {
      border-color: #cca173;
    }
  }

  &.align-center
  {
    text-align: center;
  }
}

.facebook-link
{
  color: @darkTextColor;
  background: url('@{imagesDir}picto-facebook.png') no-repeat 100% 50%;
  line-height: 32px;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  padding-right: 40px;
  margin-top: 1em;

  font-weight: bold;
  font-size: 0.9em;
}

.epice-block
{
  text-align: center;
  margin: 0 auto;
  position: relative;
  max-width: @widgetMaxWidth;

  img
  {
    max-width: 100%;
    height: auto;
    display: block;
  }

  .epice-detail
  {
    background-color: #fff;
    top: @blockInternalSpace;
    left: @blockInternalSpace;
    right: @blockInternalSpace;
    bottom: @blockInternalSpace;
    position: absolute;
  }

  .epice-block-title
  {
    color: @darkTextColor;
    text-transform: uppercase;
    margin: 1em 0 0;
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 0.1em;
  }

  .epice-main-title
  {
    font-size: 0.85em;
    margin-bottom: 1.9em;
  }

  .epice-block-price
  {
    color: @darkTextColor;
    font-size: 1.2em;
  }

  .epice-block-text
  {
    margin: 1em 0;
    //font-size: 1.1em;
  }

  .categories-list
  {
    a
    {
      text-decoration: none;
    }
  }

  &.cite-block
  {
    .epice-detail
    {
      background-color: transparent;
    }
    
    .epice-block-text
    {
      font-size: 1.3em;
    }
  }
}

.sow-slider-base
{
  .sow-slider-pagination
  {
    text-align: center !important;

    li
    {
      & + li
      {
        margin-left: 0.8em !important;
      }

      a
      {
        background: none !important;
        border: 2px solid #fff;
        border-radius: 50% !important;

        width: 0.7em !important;
        height: 0.7em !important;

        opacity: 1 !important;
      }
      
      &.sow-active
      {
        a
        {
          background: #fff !important;
        }
      }
    }
  }

  .sow-slide-nav
  {
    background-color: #fff;
    height: 1.6em;
    width: 1.6em;
    opacity: 1 !important;

    background-repeat: no-repeat;
    background-size: 35%;
    background-position: 50% 50%;

    em
    {
      display: none !important;
    }
    
    &.sow-slide-nav-next
    {
      right: 0 !important;

      background-image: url('@{imagesDir}diapo-next.svg');
    }

    &.sow-slide-nav-prev
    {
      left: 0 !important;
      background-image: url('@{imagesDir}diapo-prev.svg');
    }
  }
}

.panel-grid-cell
{
  &:first-child
  {
    .text-column
    {
      margin-right: 3%;
    }
  }

  &:last-child
  {
    .text-column
    {
      margin-left: 3%;
    }
  }
}

.separator-row
{
  border-bottom: 1px solid #ccc;
  padding-bottom: 1.6em;
}

.formError
{
  top: 100% !important;
  left: 0 !important;
  right: 0;
  
  .formErrorContent
  {
    width: auto !important;
  }
}

.sow-slider-base
{
  z-index: 0;
}

.ssba
{
  padding-bottom: 0.7em;
  margin-top: -0.2em;
  
  a
  {
    padding: 0 10px;
  }
}

.simple-link
{
  text-decoration: none;
  color: @darkTextColor;
}

.sow-slider-base .sow-slider-pagination
{
  bottom: 2% !important;
}

.widget_so-extended-slider
{
  .sow-slider-legend
  {
    position: absolute;
    bottom: 12%;
    right: 25%;
    left: 25%;
    padding: 1em;
    background-color: #fff;
    z-index: 10;
  }
}
